<!DOCTYPE html>
<html>
  <head>
    <title>Enginnergram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <nav class="navbar">
      <div class="nav_container">
        <div class="logo">
          <h1>Enginnergram</h1>
        </div>
        <ul class="navbar_content">
          <li class="navbar_item"><%= link_to  "ホーム", "/posts/index" %></li>
          <li class="navbar_item"><%= link_to  "投稿する", "/posts/new" %></li>
          <li class="navbar_item"><%= link_to  "ログアウト", "/users/sign_out", method: :delete %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
